<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.meritit.svisual.dao.UserDao">
  
  <insert id="save" parameterType="com.meritit.svisual.entity.User">
    INSERT INTO cn_user (cn_user_id,cn_user_name,cn_user_password,cn_user_token,cn_user_desc)
    VALUES (#{cn_user_id},#{cn_user_name},#{cn_user_password},#{cn_user_token},#{cn_user_desc})
  </insert>

  <select id="findByName" parameterType="string" resultType="com.meritit.svisual.entity.User">
    SELECT * FROM cn_user WHERE cn_user_name=#{name}
  </select>
  
  <update id="updatePassword" parameterType="com.meritit.svisual.entity.User">
    UPDATE cn_user SET cn_user_password=#{cn_user_password} WHERE cn_user_id=#{cn_user_id}
  </update>
  
  <select id="findPwdById" parameterType="string" resultType="string">
    SELECT cn_user_password FROM cn_user WHERE cn_user_id=#{userId}
  </select>
  
</mapper>